<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<script src=" {{ url_for('static', filename='script.js') }}" defer></script>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="placeholder">
        <div class="title-section">
          <div class="parallax"></div>
          <h1 id="app-name">
            <span class="highlight">C</span>Town
            <span class="highlight">C</span>ritic<span class="end">s</span>
          </h1>
          <h2>
            Search for a CTown or On-Campus Dining Recommendatio<span
              class="end"
              >n</span
            >
          </h2>
        </div>
        <div class="input-form">
          <h3 id="form-header">Preferred Location?</h3>
          <input
            type="radio"
            value="CTown"
            class="radio-label"
            name="loc-preference"
            id="loc-ctown"
          />
          <label for="CTown">CTown</label>
          <input
            type="radio"
            class="radio-label"
            value="On Campus"
            name="loc-preference"
            id="loc-campus"
          />
          <label for="On Campus">On Campus</label>
          <input
            type="radio"
            value="No Preference"
            class="radio-label"
            name="loc-preference"
            id="loc-none"
          />
          <label for="No Preference">No Preference</label><br /><br />

          <h3 id="form-header">Preferred Price Point(s)?</h3>
          <input
            type="checkbox"
            value="Low"
            name="price-preference"
            id="price-low"
          />
          <label for="Low">Low</label>
          <input
            type="checkbox"
            value="Medium"
            name="price-preference"
            id="price-med"
          />
          <label for="Medium">Medium</label>
          <input
            type="checkbox"
            value="High"
            name="price-preference"
            id="price-high"
          />
          <label for="High">High</label><br /><br />

          <h3 id="form-header">Type of Food?</h3>
          <input
            type="text"
            placeholder="ex: Indian"
            name="food-preference"
            id="pref-food"
          /><br /><br />

          <h3 id="form-header">Key Qualities?</h3>
          <input
            type="text"
            placeholder="ex: good value, decent service, etc."
            name="quality-preference"
            id="pref-quality"
          /><br /><br />

          <input type="button" value="Submit" id="submission-button" />
        </div>
      </div>
    </div>
    <div id="answer-box"></div>
  </div>
</body>
